*{
  margin: 0;
  padding: 0;
  /* background-color: #E1DDC8; */
  /* color: #505050; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------ */

.appName {
  font-size: 46px;
}

.NavBarDropdownBtn {
  border-radius: 100px;
  max-height: 50px;
  cursor: pointer;
  margin-right: 15px;
}

.dropdown {
  position: relative;
  display: inline-block
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1 ;
}

.dropdown:hover .dropdown-content {
  display: block
}

.NavBar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.NavBarRoutes {
  display: flex;
  justify-content: space-between;
}

.displayNavBar {
  display: flex;
  justify-content: space-evenly;
}

.display{
  align-self: center;
}

.displayNavRoute {
  padding-left: 40px;
  padding-right: 40px
}

.dropdownNavBar {
  display: flex;
  justify-content: space-around;
}


.profileAvatar {
  max-height: 180px;
  border-radius: 100px;
}


.wrapper{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field{
  width: 330px;
  height: 25px;
  border-radius: 24px;
  border: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.input-field input{
  width: 100%;
  height: 100%;
  outline: none;
  border: hidden;
  text-indent: 2px;
  font-size: 18px;
}

.input-field span{
  cursor: pointer;
}

.visitImg{
  height: 180px;
  width: auto;
  border-radius: 24px;
}

.visitDetailTitles{
  font-weight: 800;
}

.visitContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;

}

.visitCard{
  padding: 10px;
  border: solid;
  border-radius: 24px;
  margin: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.homeContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.imgContainer{
  display: flex;
  flex-direction: column;
}

.homeImg {
  float: left;
  width:  100%;
  height: 100%;
  object-fit: cover
}

.restaurantContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.restaurantImg{
  max-height: 80%;
}

.coffeeContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* popups  */
.back-drop {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #242a31;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

.dialog-buttons {
  display: flex;
  gap: 20px;
}

.eateryImg{
  max-width: 300px;
  border-radius: 20px;
}
